body {
  background-color: #1a1a1d;
  color: #fff;
}

html,
body,
#main,
#container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.control-pad {
  position: absolute;
  top: 0;
  left: 0;
}

#container {
  transition: background 1s ease;
}